# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 08899b1660649004c82b7a3311c58914c73cefcbb181c6504aa8bcd0ecee51fd1e257e303cc1de1a9605795ebd280a56e514a5a9b603c21cb6c75e59dfc3cdb6

test:
  secret_key_base: b642a611168cca9a170c5fe029e6e53a1a36e863d8292d0ebaa2e38df866c0b3c19c378c74c40ec699c0b9bede2787aaffe381266904ecf73168d5f192722d07

# Do not keep production secrets in the repository,
# instead read values from the environment.
production: &production
  secret_key_base: <%= ENV.fetch('SECRET_KEY_BASE', '6d5987d15ed5f173ea13ee0a26ba1cb1717a86783177168ec42cebbbc563e0c3470be82eba91700659589a76ad83b2e3af5ea47f083290d563c2b321956ae964') %>

staging:
  <<: *production
